:root {
	--darkblue: #3172a5;
	/* text */
	--black: #23272d;
	/* backgrounds */
	--palegray: #f1f1f1;
	--paleblue: #eaeef2;
	/* links */
	--brightblue: #4ba8d7;
	/* attention */
	--pink: #d52c82;
	/* button hover */
	--brightpink: #ff3997;
	/* button borders */
	--darkpink: #992053;
	--shadow: rgba(0, 0, 0, 0.3);
}

.body {
	/* text-align: center; */
	background: var(--palegray);
	color: var(--black);
}
h1 {
	font-size: 30px;
	text-align: center;
}
h2 {
	font-size: 26px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}
a {
	color: var(--darkblue);
}
.dog-card a {
	color: var(--black);
}

.dog-card article:hover,
.dog-card article:focus {
	color: var(--brightblue);
	border: 3px solid var(--brightblue);
	border-radius: 10px;
}

ul li {
	list-style-type: none;
}

ul {
	padding: 0;
	margin: 0;
}

.fa-child:before,
.fa-cat:before,
.fa-dog:before,
.fa-search:before,
.fa-life-ring:before {
	padding-right: 5px;
	font-size: 30px;
}

header {
	background-color: var(--darkblue);
	/* min-height: 5vh; */
	padding: 20px 20px 20px 30px;
	/* grid site name and nav */
	display: grid;
	grid-template-columns: 1fr 2fr;
	/* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
	grid-template-areas: 'sitename nav';
}

.site-name {
	color: white;
	font-size: 30px;
	grid-area: sitename;
}

.site-name .fa-dog:before,
.site-name .fa-life-ring {
	/* padding: 0 10px; */
	font-size: 30px;
	color: white;
}

#navigation ul {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: white;
	/* grid */
	grid-area: nav;

	/* grid within header grid */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

#navigation li a {
	display: block;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}

#navigation ul a {
	color: white;
	font-weight: bold;
}

#navigation ul a:hover {
	color: white;
	background: var(--brightblue);
}

:any-link {
	text-decoration: none;
}

/* .App-link {
	color: #61dafb;
} */

/* @keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

/*
single dog page
*/
.dog.container {
	padding: 40px 10%;
	max-width: 800px;
	box-shadow: 0 1px 1px 0 var(--shadow);
	background: var(--paleblue);
	border-radius: 10px;
	margin: 20px auto;
	/* grid */
	display: grid;
	grid-template-columns: 2fr 1fr;
	justify-items: center;
	grid-template-areas:
		'image image'
		'name name'
		'features features'
		'about contact'
		'about goodwith'
		'video video'
		'button button';
	grid-gap: 10px;
}

/*
list of dogs, filtered
*/

.dog-list {
	padding: 3%;
	/* grid */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-items: center;
	grid-gap: 20px;
}
/*
single dog card for list of dogs
*/
.dog-list .doglist.container .card-link {
	/* padding: 10px 2%; */
	/* max-width: 300px; */
	box-shadow: 0 1px 1px 0 var(--shadow);
	background: var(--paleblue);
	border-radius: 10px;
	/* grid */
	display: grid;
	justify-items: center;
	grid-template-columns: 300px;
	grid-template-areas:
		'image'
		'name'
		'features'
		'goodwith';
}

.dog-image {
	box-shadow: 0 5px 5px 0 var(--shadow);
	/* grid */
	grid-area: image;
	grid-column: 1 / -1;
	order: 1;
	justify-self: center;
	max-width: 100%;
}

.dog-name {
	font-size: 30px;
	/* grid */
	grid-area: name;
	grid-column: 1 / -1;
	order: 2;
}

.features {
	line-height: 2;
	/* grid */
	grid-area: features;
	grid-column: 1 / -1;
	order: 3;
	/* grid within grid */
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr 1fr;
}

.features li {
	align-self: center;
	justify-self: center;
}

.dog-about {
	text-align: left;
	line-height: 1.5;
	/* grid */
	grid-area: about;
	grid-row: span 2;
	justify-self: start;
	order: 4;
}

.dog-contact {
	background: var(--pink);
	border: 1px solid var(--shadow);
	border-radius: 5px;
	color: white;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	text-shadow: 0.5px 0.5px var(--shadow);
	/* grid */
	grid-area: contact;
	justify-self: stretch;
	align-self: center;
	order: 5;
}
.dog-contact:hover {
	background: var(--brightpink);
}
.dog-contact h4 {
	text-transform: uppercase;
}
.dog-contact a {
	color: white;
}
.rm-contact-phone:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f095';
	padding-right: 8px;
}

.rm-contact-email:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f0e0';
	padding-right: 8px;
}

.good-with {
	line-height: 2.5;
	/* grid */
	grid-area: goodwith;
	text-align: center;
	order: 6;
}
.good-with h4 {
	margin-bottom: 0;
}
.dog-list .good-with h4 {
	font-size: 16px;
}

.dog-video {
	width: 100%;
	/* grid */
	grid-area: video;
	grid-column: span 2;
	order: 7;
}
/* make video responsive */
.dog-video .embed-youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.dog-video .embed-youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button-link {
	/* grid */
	grid-area: button;
	grid-column: 1 / -1;
	order: 8;
}

.filters {
	text-align: center;
}

.filters button {
	margin-right: 5px;
}

button {
	background: var(--darkblue);
	color: white;
	font-weight: bold;
	font-size: 20px;
	padding: 20px;
	border-radius: 5px;
}

button a {
	color: white;
	font-weight: bold;
}

button:hover,
button:active,
button:focus,
.filters button.selected {
	background: var(--brightblue);
}

button:focus {
	outline: 3px solid var(--pink);
}
/* media queries - smaller screen */
@media only screen and (max-width: 650px) {
	header {
		grid-template-columns: 1fr;
		grid-template-areas:
			'sitename'
			'nav';
		justify-items: center;
	}
	#navigation ul {
		grid-template-columns: 1fr;
	}
}
@media only screen and (max-width: 600px) {
	.dog.container {
		grid-template-columns: 1fr;
		grid-template-areas:
			'image'
			'name'
			'features'
			'about'
			'about'
			'contact'
			'goodwith'
			'video'
			'button';
	}
}
