.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/* kn start */
.dog.container {
	/* display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		'head head'
		'content sidebar'
		'content sidebar'
		'foot foot';
	grid-gap: 20px; */
}

.dog-image {
	grid-area: head;
	background: palevioletred;
}

.dog-name {
	grid-area: content;
}

.dog-content {
	grid-area: content;
}

.features {
	grid-area: sidebar;
}

.rescue-me-about {
	grid-area: content;
	background: lightblue;
}

.rm-contact {
	grid-area: sidebar;
	background: lightgreen;
}

figure.wp-block-embed-youtube {
	grid-area: sidebar;
}

button.more-dogs {
	grid-area: foot;
	background: lavender;
	font-size: 25px;
	padding: 20px;
}
ul li {
	list-style-type: none;
}

.rescue-me-about,
.embed-youtube iframe,
.rm-contact {
	display: none;
}
