:root {
	--darkblue: #3172a5;
	/* text */
	--black: #23272d;
	/* backgrounds */
	--palegray: #f1f1f1;
	--paleblue: #eaeef2;
	/* links */
	--brightblue: #4ba8d7;
	/* attention, button selected*/
	--pink: #d52c82;
	--brightpink: #ff3997;
	--darkpink: #992053;
	--shadow: rgba(0, 0, 0, 0.3);
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

.body {
	/* text-align: center; */
	background: var(--palegray);
	color: var(--black);
	font-family: Lato, sans-serif;
}
main {
	padding: 1%;
}
h1 {
	font-size: 30px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
h2 {
	font-size: 26px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
h3 {
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
}
h4 {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
a {
	color: var(--darkblue);
}
a:hover {
	color: var(--brightblue);
}
a:focus {
	outline: 2px solid var(--pink);
}
.dog-card a {
	color: var(--black);
}

.dog-card:hover,
.dog-card:focus {
	border: 3px solid var(--pink);
	border-radius: 10px;
}

ul li {
	list-style-type: none;
}

ul {
	padding: 0;
	margin: 0;
}

.fa-child:before,
.fa-cat:before,
.fa-dog:before {
	padding-right: 5px;
	font-size: 30px;
	color: var(--darkblue);
}
/* -----------------------header-----------------------------------*/
header {
	background-color: var(--paleblue);
	padding: 20px 20px 20px 30px;
	/* grid site name and nav */
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: 'sitename nav';
}

.site-name {
	color: var(--darkblue);
	font-size: 32px;
	font-family: 'Coming Soon', cursive;
	font-weight: bold;
	grid-area: sitename;
}

.site-name a {
	text-decoration: none;
}

.site-name .fa-life-ring {
	font-size: 32px;
	margin-right: 10px;
	color: var(--darkblue);
}

.site-name i:hover,
.site-name i:focus {
	/* animation spin icon */
	animation-name: icon-spin;
	animation-duration: 4000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes icon-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/*-------------------------navigation-------------------------------*/
#navigation ul {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: var(--darkblue);
	/* grid */
	grid-area: nav;
	/* grid within header grid */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

#navigation a {
	display: block;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	color: var(--darkblue);
	font-weight: bold;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

#navigation a:hover {
	/* background: var(--brightblue); */
	color: var(--pink);
}

/* active class set by NavLink */
#navigation .active {
	/* background: var(--pink); */
	color: var(--pink);
}

/* ----------------------single dog page------------------------------ */
.dog.container {
	padding: 40px 3%;
	max-width: 800px;
	box-shadow: 0 1px 1px 0 var(--shadow);
	background: var(--paleblue);
	border-radius: 10px;
	margin: 20px auto;
	/* grid */
	display: grid;
	grid-template-columns: 2fr 1fr;
	justify-items: center;
	grid-template-areas:
		'image image'
		'name name'
		'features features'
		'about contact'
		'about goodwith'
		'video video'
		'button button';
	grid-gap: 10px;
}

/* ----------------------------list of dogs------------------------------*/
.dog-list {
	padding: 3%;
	/* grid */
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-items: center;
	grid-gap: 20px;
}

li.dog-card {
	box-shadow: 0 1px 1px 0 var(--shadow);
	background: var(--paleblue);
	border-radius: 10px;
}

.dog-card a {
	color: var(--black);
}

.dog-card:hover,
.dog-card:focus {
	border: 3px solid var(--pink);
	border-radius: 10px;
	outline: 2px solid var(--pink);
}

/*----------------single dog card for list of dogs-----------------------*/
.dog-list .doglist.container .card-link {
	text-decoration: none;
	/* grid */
	display: grid;
	justify-items: center;
	grid-template-columns: 300px;
	grid-template-areas:
		'image'
		'name'
		'features'
		'goodwith';
}

/*---------------dog components ------------------------------------------*/
.dog-image {
	/* grid */
	grid-area: image;
	grid-column: 1 / -1;
	order: 1;
	max-width: 100%;
}

.dog-name {
	font-size: 30px;
	/* grid */
	grid-area: name;
	grid-column: 1 / -1;
	order: 2;
}

h2.dog-name {
	margin: 5px 0;
}

.features {
	line-height: 2;
	font-weight: bold;
	/* grid */
	grid-area: features;
	grid-column: 1 / -1;
	order: 3;
}

ul.features li {
	display: inline-block;
	padding-left: 3px;
	list-style-type: disc;
}

ul.features li:before {
	content: '♥';
	padding-right: 3px;
	color: var(--darkblue);
}

ul.features li:first-child:before {
	padding-left: 0;
	content: '';
}

.dog-about {
	/* grid */
	grid-area: about;
	grid-row: span 2;
	justify-self: start;
	order: 4;
}
.dog-about h4 {
	margin-top: 0;
}
.dog-about p {
	margin-top: 0;
	margin-right: 20px;
	text-align: left;
	line-height: 1.5;
}

.dog-contact {
	background: var(--pink);
	border: 1px solid var(--shadow);
	border-radius: 5px;
	color: white;
	padding: 3%;
	text-align: center;
	font-weight: bold;
	text-shadow: 0.5px 0.5px var(--shadow);
	/* grid */
	grid-area: contact;
	justify-self: stretch;
	align-self: center;
	order: 5;
}
.dog-contact:hover {
	background: var(--brightpink);
}
.dog-contact h4 {
	text-transform: uppercase;
}
.dog-contact a {
	color: white;
	text-decoration: none;
}
.dog-contact a:focus {
	outline: 3px solid var(--brightblue);
}

.rm-contact-phone:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f095';
	padding-right: 8px;
}

.rm-contact-email:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f0e0';
	padding-right: 8px;
}

.rm-contact-email:empty .rm-contact-email:before {
	content: '';
}

.good-with {
	line-height: 2.5;
	/* grid */
	grid-area: goodwith;
	text-align: center;
	order: 6;
}
.good-with h4 {
	margin: 0;
}
.dog-list .good-with h4 {
	font-size: 16px;
}

.dog-video {
	width: 100%;
	/* grid */
	grid-area: video;
	grid-column: span 2;
	order: 7;
}
/* make video responsive
https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.dog-video .embed-youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.dog-video .embed-youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button-link {
	/* grid */
	grid-area: button;
	grid-column: 1 / -1;
	order: 8;
}

/*------------------filters and buttons-----------------------------------*/

.filters {
	text-align: center;
	max-width: 650px;
	/* padding: 10px; */
	margin: 0 auto;
}

.filters h2,
h2.good-with-filters {
	font-size: 18px;
	font-weight: normal;
}

.filters h2 {
	margin-bottom: 0px;
}

.filters ul,
ul.filters.good-with-filters {
	margin: 0 auto;
	padding: 0;
	/* grid */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex-flow: row wrap;

	/* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
	/* justify-items: center; */
	/* grid-gap: 10px; */
}
.filters ul li,
.filters.good-with-filters li {
	flex-grow: 1;
	flex-basis: 0;
	flex-shrink: 1;
	margin: 10px 10px;
}

button {
	background: var(--darkblue);
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
}

button a {
	color: white;
	font-weight: bold;
}

button:hover {
	background: var(--brightblue);
}

.filters button.selected {
	background: var(--pink);
}

button:focus {
	outline: 2px solid var(--pink);
}
/*------------------------Match Form-----------------------------------*/
button.form-primary {
	float: right;
	width: 25%;
}
button.form-secondary {
	width: 25%;
}
button.form-submit {
	float: right;
	width: 25%;
}
fieldset {
	margin: 5%;
	border: 2px solid var(--darkblue);
	background: var(--paleblue);
}
legend {
	text-align: center;
	background: white;
	font-size: 18px;
	font-weight: bold;
}
.form-group,
form p,
form ul {
	text-align: center;
	font-size: 18px;
}
.form-item {
	display: inline-block;
	margin: 5%;
}
form span.text {
	display: block;
}
form span.emoji {
	font-size: 80px;
}
input {
	font-size: 18px;
}
input.form-control:focus {
	outline: 2px solid var(--pink);
}

/* ---------------------Filter toggle/accordion--------------------------*/
/* https://github.com/springload/react-accessible-accordion */

.accordion {
	border: 1px solid var(--shadow);
	border-radius: 2px;
	text-align: center;
	max-width: 650px;
	padding: 10px;
	margin: 0 auto;
}

.accordion__item + .accordion__item {
	border-top: 1px solid var(--shadow);
}

.accordion__item--has-icon {
	position: relative;
}

.accordion__title:focus {
	outline: 2px solid var(--pink);
}

.accordion__title {
	background-color: var(--palegray);
	color: var(--darkblue);
	cursor: pointer;
	padding: 10px;
	width: 100%;
	text-align: center;
	border: none;
	position: relative;
}

.accordion__title:hover {
	color: var(--pink);
}

.accordion:focus {
	outline: 3px var(--pink);
}

.accordion__body {
	padding: 20px;
	display: block;
	animation: fadein 0.35s ease-in;
}

.accordion__body--hidden {
	display: none;
	opacity: 0;
	animation: fadein 0.35s ease-in;
}

.accordion__title > *:last-child,
.accordion__body > *:last-child {
	margin-bottom: 0;
}

.accordion__arrow {
	display: inline-block;
	width: 24px;
	height: 12px;
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -6px;
}

.accordion__arrow::after,
.accordion__arrow::before {
	display: block;
	position: absolute;
	top: 50%;
	width: 10px;
	height: 2px;
	background-color: currentColor;
	content: '';
}

.accordion__arrow::before {
	left: 4px;
	transform: rotate(45deg);
}

[aria-expanded='true'] .accordion__arrow::before,
[aria-selected='true'] .accordion__arrow::before {
	transform: rotate(-45deg);
}

.accordion__arrow::after {
	right: 4px;
	transform: rotate(-45deg);
}

[aria-expanded='true'] .accordion__arrow::after,
[aria-selected='true'] .accordion__arrow::after {
	transform: rotate(45deg);
}

.accordion__arrow::before,
.accordion__arrow::after {
	transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes move-down {
	0% {
		transform: translateY(0);
	}
	10% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(5px);
	}
	30% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes move-up {
	0% {
		transform: translateY(0);
	}
	10% {
		transform: translateY(0);
	}
	20% {
		transform: translateY(-5px);
	}
	30% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(0);
	}
}

.accordion__title--animated:hover .accordion__arrow {
	animation-name: move-down;
	animation-duration: 1.5s;
}

.accordion__title--animated[aria-expanded='true']:hover .accordion__arrow {
	animation-name: move-up;
	animation-duration: 1.5s;
}
/* ------------------media queries - smaller screen------------------------- */
@media only screen and (max-width: 650px) {
	header {
		grid-template-columns: 1fr;
		grid-template-areas:
			'sitename'
			'nav';
		justify-items: center;
	}
	.site-name {
		margin-bottom: 10px;
	}
	#navigation ul {
		grid-template-columns: 1fr;
	}
	.accordion {
		margin: 0 20px;
	}
}
@media only screen and (max-width: 600px) {
	.dog.container {
		grid-template-columns: 1fr;
		grid-template-areas:
			'image'
			'name'
			'features'
			'about'
			'about'
			'contact'
			'goodwith'
			'video'
			'button';
	}
}
@media only screen and (max-width: 560px) {
	/* .filters button {
		font-size: 16px;
	}
	.filters h2 {
		font-size: 16px;
		font-weight: normal;
	} */
}
