:root {
	--darkblue: #3172a5;
	/* text */
	--black: #23272d;
	/* backgrounds */
	--palegray: #f1f1f1;
	--paleblue: #eaeef2;
	/* links */
	--brightblue: #4ba8d7;
	/* attention */
	--pink: #d52c82;
	/* button hover */
	--brightpink: #ff3997;
	/* button borders */
	--darkpink: #992053;
	--shadow: rgba(0, 0, 0, 0.3);
}

.body {
	/* text-align: center; */
	background: var(--palegray);
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 26px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}

ul li {
	list-style-type: none;
}

.fa-child:before,
.fa-cat:before,
.fa-dog:before,
.fa-search:before,
.fa-life-ring:before {
	padding-right: 5px;
	font-size: 30px;
}

header {
	background-color: var(--darkblue);
	/* min-height: 5vh; */
	padding: 20px 0 20px 30px;

	text-shadow: 1px 1px var(--shadow);
	/* grid site name and nav */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'sitename nav';
}

.site-name {
	color: white;
	font-size: 30px;
	grid-area: sitename;
}

.site-name .fa-dog:before,
.site-name .fa-life-ring {
	/* padding: 0 10px; */
	font-size: 30px;
	color: white;
}

#navigation ul {
	margin: 0;
	font-size: 25px;
	color: white;
	/* grid within header grid */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#navigation li a {
	grid-area: nav;
}

#navigation ul a {
	color: white;
}

#navigation ul a:hover {
	color: var(--brightpink);
}

:any-link {
	text-decoration: none;
}

/* .App-link {
	color: #61dafb;
} */

/* @keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

.dog.container {
	padding: 40px 10%;
	max-width: 800px;
	box-shadow: 0 1px 1px 0 var(--shadow);
	background: var(--paleblue);
	border-radius: 10px;
	margin: 20px auto;
	/* grid */
	display: grid;
	grid-template-columns: 2fr 1fr;
	justify-items: center;
	grid-template-areas:
		'image image'
		'name name'
		'features features'
		'about contact'
		'about goodwith'
		'video video'
		'button button';
	grid-gap: 10px;
}

.dog-image {
	box-shadow: 0 5px 5px 0 var(--shadow);
	/* grid */
	grid-area: image;
	grid-column: 1 / -1;
	order: 1;
	justify-self: center;
}

.dog-name {
	font-size: 30px;
	/* grid */
	grid-area: name;
	grid-column: 1 / -1;
	order: 2;
}

.features {
	line-height: 2;
	/* grid */
	grid-area: features;
	grid-column: 1 / -1;
	order: 3;
	/* grid within grid */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.rescue-me-about {
	text-align: left;
	line-height: 1.5;
	/* grid */
	grid-area: about;
	grid-row: span 2;
	justify-self: start;
	order: 4;
}

.dog-contact {
	background: var(--pink);
	border: 1px solid var(--shadow);
	border-radius: 5px;
	color: white;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	text-shadow: 0.5px 0.5px var(--shadow);
	/* grid */
	grid-area: contact;
	justify-self: stretch;
	order: 5;
}
.dog-contact:hover {
	background: var(--brightpink);
}
.dog-contact h4 {
	text-transform: uppercase;
}
.dog-contact a {
	color: white;
}

.good-with {
	line-height: 2.5;
	/* grid */
	grid-area: goodwith;
	justify-self: center;
	order: 6;
}

.good-with h4 {
	margin-bottom: 0;
}

figure.wp-block-embed-youtube {
	/* grid */
	grid-area: video;
	grid-column: span 2;
	order: 7;
}

button.more-dogs {
	background: var(--darkblue);
	font-size: 20px;
	padding: 20px;
	border-radius: 5px;
	/* grid */
	grid-area: button;
	grid-column: 1 / -1;
	order: 8;
}
button.more-dogs a {
	color: white;
	font-weight: bold;
}

button.more-dogs:hover {
	background: var(--brightblue);
}

.rm-contact-phone:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f095';
	padding-right: 8px;
}

.rm-contact-email:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f0e0';
	padding-right: 8px;
}
